In [6]:
import pandas as pd 
df = pd.read_csv("BooksDataSet.csv", index_col=False)
df['Authors'] = df['Authors'].str.replace("By", '')
df['Price'] = df['Price'].str.replace("Price Starting at", '')
# Clean up the 'Publish Date' column using regex
days_to_remove = ["Friday", "Saturday", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday"]
days_pattern = '|'.join(days_to_remove)
"""so here we are going to split the data with months and years """
df['Publish Date'] = df['Publish Date'].str.replace(f'({days_pattern}),', '', regex=True)
df['Publish Date'] = pd.to_datetime(df['Publish Date'],errors='coerce')
df['moths'] = df['Publish Date'].dt.month
df['years'] = df['Publish Date'].dt.year
df = df.drop_duplicates()
df

,Title,Authors,Description,Category,Publisher,Publish Date,Price,moths,years
0,Goat Brothers,"Colton, Larry",NaN,"History , General",Doubleday,1993-01-01,$8.79,1.0,1993.0
1,The Missing Person,"Grumbach, Doris",NaN,"Fiction , General",Putnam Pub Group,1981-03-01,$4.99,3.0,1981.0
2,Don't Eat Your Heart Out Cookbook,"Piscatella, Joseph C.",NaN,"Cooking , Reference",Workman Pub Co,1983-09-01,$4.99,9.0,1983.0
3,When Your Corporate Umbrella Begins to Leak: A...,"Davis, Paul D.",NaN,NaN,Natl Pr Books,1991-04-01,$4.99,4.0,1991.0
4,Amy Spangler's Breastfeeding : A Parent's Guide,"Spangler, Amy",NaN,NaN,Amy Spangler,1997-02-01,$5.32,2.0,1997.0
...,...,...,...,...,...,...,...,...,...
103077,Build 3 Super Serving Carts,Chuck Hampton,NaN,NaN,ENDesigns Inc.,1992-01-01,$9.97,1.0,1992.0
103078,My Land of Israel,"Nover, Elizabeth Z.",NaN,"Juvenile Nonfiction , People & Places , Middl...",Behrman House,1987-05-01,$4.99,5.0,1987.0
103079,Tongues: To Speak or Not to Speak,Donald W. Burdick,NaN,NaN,Moody Press,1969-01-01,$5.29,1.0,1969.0
103080,If I'm in charge here why is everybody laughing?,"Campbell, David P.",NaN,NaN,Argus Communications,1980-01-01,$4.99,1.0,1980.0
103081,Your First Puppy (Your First Series),"Carpentier, Marcel",An introduction to the proper care of puppies ...,"Pets , Dogs , General",Tfh Pubns Inc,1991-11-01,$4.99,11.0,1991.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index,Name       10 non-null     object
 1   Platform         4 non-null      float64
 2   Year_of_Release  4 non-null      object
 3   Genre            4 non-null      object
 4   Publisher        3 non-null      float64
 5   NA_Sales         3 non-null      object
 6   EU_Sales         3 non-null      object
 7   JP_Sales         0 non-null      float64
 8   Other_Sales      0 non-null      float64
 9   Global_Sales     0 non-null      float64
 10  Critic_Score     0 non-null      float64
 11  Critic_Count     0 non-null      float64
 12  User_Score       0 non-null      float64
 13  User_Count       0 non-null      float64
 14  Developer        0 non-null      float64
 15  Rating           0 non-null      float64
 16  Unnamed: 16      0 non-null      float64
 17  Unnamed: 17      0 non-null      float64
dtypes: float64(13), object(5)
memory usage: 1.5+ KB

In [49]:
df.describe()

,Title,Authors,Description,Category,Publisher,Publish Date,Price
count,103082,103082,70213,76912,103074,103082,103082
unique,97818,63580,68831,3106,13029,956,1387
top,The Nutcracker,,For Ingest Only - Data needs to be cleaned up ...,"Fiction , General",Simon & Schuster,"Thursday, January 1, 2004",Price Starting at $5.29
freq,12,1043,30,2549,1521,868,41876

In [13]:
pd.set_option('display.float_format' , lambda x: '%.2f' % x)

In [1]:
df.describe() #some test sample

NameError: name 'df' is not defined

In [15]:
df.isnull().sum() #this isnull used to find the null data and .sum() used to find the some of the null data

index,Name          0
Platform            6
Year_of_Release     6
Genre               6
Publisher           7
NA_Sales            7
EU_Sales            7
JP_Sales           10
Other_Sales        10
Global_Sales       10
Critic_Score       10
Critic_Count       10
User_Score         10
User_Count         10
Developer          10
Rating             10
Unnamed: 16        10
Unnamed: 17        10
dtype: int64

In [16]:
df.nunique() #this will find the unique values

index,Name         10
Platform            4
Year_of_Release     4
Genre               3
Publisher           3
NA_Sales            2
EU_Sales            2
JP_Sales            0
Other_Sales         0
Global_Sales        0
Critic_Score        0
Critic_Count        0
User_Score          0
User_Count          0
Developer           0
Rating              0
Unnamed: 16         0
Unnamed: 17         0
dtype: int64

In [53]:
df.sort_values(by="Publish Date")  #sort based on the column name

,Title,Authors,Description,Category,Publisher,Publish Date,Price
40126,American Wonderland,"Bache, Richard Meade",NaN,NaN,"Claxton, Remsen and Haffelfinger",December 1870,$8.85
7041,House Beautiful Entertaining,"Gropp, Louis Oliver (EDT), Kennedy, Margaret ...",House Beautiful has collected more than 140 of...,"Cooking , Entertaining",Hearst Books,December 1899,$8.79
55623,The Wood Finisher's Handbook,"Allen, Sam","Introduces finishing tools and materials, show...","Crafts & Hobbies , Woodwork",Sterling Pub Co Inc,December 1899,$4.99
2375,Complete Book of Birdhouses and Feeders,"Russo, Monica and Dewire, Robert",Line drawings supplement detailed descriptions...,"Technology & Engineering , General",Sterling Pub Co Inc,December 1899,$4.99
415,500 Full-Size Patchwork Patterns,"Malone, Maggie",Provides templates for making traditional patc...,"Art , General",Sterling Pub Co Inc,December 1899,$5.29
...,...,...,...,...,...,...,...
87499,Hope Unseen: The Story of the U.S. Army's Firs...,"Smiley, Scotty and Crandall, Doug (CON)","The inspiring, unflinching true story of “blin...","Religion , Leadership",Howard Books,"Wednesday, September 1, 2010",$4.99
89956,The Seventeen Second Miracle,"Wright, Jason F.",From the New York Times bestselling author of ...,"Fiction , Christian , General",Berkley,"Wednesday, September 1, 2010",$14.98
87495,Big Girls Don't Cry: The Election that Changed...,"Traister, Rebecca","REBECCA TRAISTER, whose coverage of the 2008 p...","Political Science , Political Process , Campa...",Free Press,"Wednesday, September 1, 2010",$4.99
87410,Bloody Crimes: The Chase for Jefferson Davis a...,"Swanson, James L.","""A brilliant narrative that keeps the reader s...","History , United States , Civil War Period (1...",William Morrow,"Wednesday, September 1, 2010",$5.63
87474,Immanuel's Veins,"Dekker, Ted",This story is for everyone--but not everyone i...,"Fiction , Christian , Suspense",Thomas Nelson Inc,"Wednesday, September 1, 2010",$4.99

In [54]:
df.sort_values(by="Publish Date",ascending=True) #sort based on the column and head will just get the top once

,Title,Authors,Description,Category,Publisher,Publish Date,Price
40126,American Wonderland,"Bache, Richard Meade",NaN,NaN,"Claxton, Remsen and Haffelfinger",December 1870,$8.85
7041,House Beautiful Entertaining,"Gropp, Louis Oliver (EDT), Kennedy, Margaret ...",House Beautiful has collected more than 140 of...,"Cooking , Entertaining",Hearst Books,December 1899,$8.79
55623,The Wood Finisher's Handbook,"Allen, Sam","Introduces finishing tools and materials, show...","Crafts & Hobbies , Woodwork",Sterling Pub Co Inc,December 1899,$4.99
2375,Complete Book of Birdhouses and Feeders,"Russo, Monica and Dewire, Robert",Line drawings supplement detailed descriptions...,"Technology & Engineering , General",Sterling Pub Co Inc,December 1899,$4.99
415,500 Full-Size Patchwork Patterns,"Malone, Maggie",Provides templates for making traditional patc...,"Art , General",Sterling Pub Co Inc,December 1899,$5.29
...,...,...,...,...,...,...,...
87499,Hope Unseen: The Story of the U.S. Army's Firs...,"Smiley, Scotty and Crandall, Doug (CON)","The inspiring, unflinching true story of “blin...","Religion , Leadership",Howard Books,"Wednesday, September 1, 2010",$4.99
89956,The Seventeen Second Miracle,"Wright, Jason F.",From the New York Times bestselling author of ...,"Fiction , Christian , General",Berkley,"Wednesday, September 1, 2010",$14.98
87495,Big Girls Don't Cry: The Election that Changed...,"Traister, Rebecca","REBECCA TRAISTER, whose coverage of the 2008 p...","Political Science , Political Process , Campa...",Free Press,"Wednesday, September 1, 2010",$4.99
87410,Bloody Crimes: The Chase for Jefferson Davis a...,"Swanson, James L.","""A brilliant narrative that keeps the reader s...","History , United States , Civil War Period (1...",William Morrow,"Wednesday, September 1, 2010",$5.63
87474,Immanuel's Veins,"Dekker, Ted",This story is for everyone--but not everyone i...,"Fiction , Christian , Suspense",Thomas Nelson Inc,"Wednesday, September 1, 2010",$4.99

In [39]:
import pandas as pd 
print(pd.__version__)

2.1.4

In [3]:
#search inside the cleaned data sets 
import pandas as pd
df = pd.read_csv('BooksDatasetClean.csv')
df

,Title,Authors,Description,Category,Publisher,Price Starting With ($),Publish Date (Month),Publish Date (Year)
0,Goat Brothers,"By Colton, Larry",NaN,"History , General",Doubleday,8.79,January,1993
1,The Missing Person,"By Grumbach, Doris",NaN,"Fiction , General",Putnam Pub Group,4.99,March,1981
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",NaN,"Cooking , Reference",Workman Pub Co,4.99,September,1983
3,When Your Corporate Umbrella Begins to Leak: A...,"By Davis, Paul D.",NaN,NaN,Natl Pr Books,4.99,April,1991
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",NaN,NaN,Amy Spangler,5.32,February,1997
...,...,...,...,...,...,...,...,...
103058,Build 3 Super Serving Carts,By Chuck Hampton,NaN,NaN,ENDesigns Inc.,9.97,January,1992
103059,My Land of Israel,"By Nover, Elizabeth Z.",NaN,"Juvenile Nonfiction , People & Places , Middl...",Behrman House,4.99,May,1987
103060,Tongues: To Speak or Not to Speak,By Donald W. Burdick,NaN,NaN,Moody Press,5.29,January,1969
103061,If I'm in charge here why is everybody laughing?,"By Campbell, David P.",NaN,NaN,Argus Communications,4.99,January,1980
103062,Your First Puppy (Your First Series),"By Carpentier, Marcel",An introduction to the proper care of puppies ...,"Pets , Dogs , General",Tfh Pubns Inc,4.99,November,1991